.container{display: flex;
background-color: darkgray;
;flex-direction: row;
justify-content: center;
}
.quadrado_vermelho{display: flex;
    background-color: rgb(226, 27, 27);
    flex-direction: row;
    justify-content: center;
    height: 44px;
    margin: 10px;
    padding: 10px;
}