.container{display: flex;
background-color: darkgray;
;flex-direction: row;
height: 100px;
margin: 10px;
padding: 10px;
}
.quadrado_vermelho{display: flex;
    background-color: rgb(226, 27, 27);
    justify-content: center;
    height: 45px;
    margin: 5px;
    padding: 5px;
}